/*SGH Red #b5121b
  SGH Light Brown #beb29e
  SGH Mid Brown #8f7d5c
  SGH Dark Brown #5a471b
  SGH Text Brown #5a471b
*/

body,
html {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#div_3dCanvas {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background-color: black;
    /*    margin: auto;*/
    /*    padding: 0;*/
    height: 100%;
    width: 100%;
    z-index: -1;
}
#leftInfo {
    float: left;
    position: fixed;
    top: 4%;
    left: 2%;
}
#modelStatusWindow {
    height: 70px;
    overflow-y: hidden;
    opacity: 0.4;
    transition: all .45s ease-in-out;
}
#modelStatusWindow:hover {
    overflow-y: auto;
}
#modelStatus {
    color: gainsboro;
    margin: 0px;
}
#rightInfo {
    float: right;
    position: fixed;
    top: 4%;
    right: 2%;
}
#lowerUI {
    left: 2%;
    width: 96%;
    height: 8%;
    position: fixed;
    bottom: 3%;
}
#touchUI {
    left: 2%;
    width: 96%;
    height: 8%;
    position: fixed;
    bottom: 13%;
}
#SceneSetIcon,
#EngineerSetIcon,
#ArchSetIcon,
#CostSetIcon,
#drawVol,
#drawVoid,
#delete,
#objectInfo,
#send,
#receive,
#rightLogoImage,
#exitDrawMode {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
#SceneSetIcon:hover,
#EngineerSetIcon:hover,
#ArchSetIcon:hover,
#CostSetIcon:hover,
#drawVol:hover,
#drawVoid:hover,
#delete:hover,
#receive:hover,
#objectInfo:hover,
#send:hover,
#rightLogoImage:hover {
    -webkit-transform: scale(1.2);
    cursor: pointer;
}
#rightLogo {
    width: 42px;
    margin-left: 10px;
}
#sceneInfo {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0;
    padding-left: 58px;
}
#archEngiInfo {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0;
}
.column {
    text-align: center;
}
.scaledUP {
    -webkit-transform: scale(1.2);
}
.ui.form .inline.field .input > input {
    width: auto !important;
}
input {
    pointer-events: all;
}
.resultP {
    text-align: right;
    /*    color: #008080;*/
    font-size: 16px;
    margin-bottom: 0;
}
.resultVal {
    color: #D9E778;
    /*    color: #A291FB;*/
    /*    color: #54C8FF;*/
}
#cursorText {
    position: absolute;
    font-size: 15px;
    color: grey;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
